@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
:root{
    --color:#34D399;
}

body{
    font-family: 'Ubuntu', sans-serif;
}
.container{
    padding-left:1rem;
    padding-right:1rem;
}
.container-centre{
    max-width:fit-content;
    margin:auto;
}
.linkpad{
    text-decoration: none;
    padding: 0.4rem 2rem;
}
.link-primary{
    background-color: var(--color);
    color: white;
    border:1px solid var(--color);
    border-radius: 0.7rem;
}
.link-secondary{
    color: var(--color);
    border:1px solid var(--color);
    border-radius: 0.7rem;
}
