@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --color:#34D399;
    --navcolor: #059669;
    --darkgray: #9CA3AF;
}
hr{
    margin: 2rem 0rem;
}
.container{
    padding-left:1rem;
    padding-right:1rem;
}
.container-centre{
    max-width:fit-content;
    margin:auto;
}
.linkpad{
    text-decoration: none;
    padding: 0.4rem 2rem;
}
.link-primary{
    background-color: var(--color);
    color: white;
    border:1px solid var(--color);
    border-radius: 0.7rem;
}
.link-secondary{
    color: var(--color);
    border:1px solid var(--color);
    border-radius: 0.7rem;
}
.list-non-bullet{
    list-style:none;
}
.list-item{
    padding: 0rem 0.5rem;
}
.list-item-inline{
    display: inline;
    padding:0rem 0.5rem;
}
.nav-section{
    background-color: var(--navcolor);
    color:white;
    padding: 0.6rem 0.7rem;
    border-radius: 0.4rem;
}
.nav-text{
    font-weight: bold;
    font-size: 1.3rem;
}
.text-list{
    text-decoration: none;
    color: white;
}
.nav-pills{
    text-align: right;
}
.header-pad{
    padding: 2rem;
    color: var(--darkgray);
    text-align: center;
}
.header-pad .header-img{
    height: 500px;
    width:500px;
    display: block;
    margin: auto;
}
.header-pad .span-col{
    color: var(--navcolor);
}